*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.team{
    color:blue;
    background-color: pink;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

h1{
    color:blue;
    background-color: aquamarine;
    width: 150px;
    height: 50px;
}
h2{
    color:blue;
    background-color: red;
}
h3{
    color:blue;
    background-color:green;
}
h4{
    color:blue;
    background-color: yellow;
}
h5{
    color:blue;
    background-color: orangered;
}
p{
    color:blue;
    background-color: purple;
}
