*{
    margin: 0;
    padding: 0;
}
h1{
    color:blue;
    background-color: aquamarine;
}
h2{
    color:blue;
    background-color: red;
}
h3{
    color:blue;
    background-color:green;
}
h4{
    color:blue;
    background-color: yellow;
}
p{
    color:blue;
    background-color: purple;
}